body{
    font-family: "Montserrat", Arial;
    background-color: rgb(255, 255, 151);
}

h5{
    background-color: sandybrown;
    border-radius: 10px;
    padding: .1rem;
}

span{
    font-weight: 650;
    background-color: silver;
    border-radius: 20px;
    padding: .1rem;
/*     padding-left: .7rem;
    padding-right: .7rem; */
}

img{
    border-radius: 20%;
}